@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="display-4">Azure Examples</h2>
    <ul>
        <li>
            <a href="/SqlServer/SqlServer">Azure SQL Server</a>
        </li>
        <li>
            <a href="/Blobs/BlobStorage">Blob Storage</a>
        </li>
        <li>
            <a href="/Tables/TableStorage">Table Storage</a>
        </li>
        <li>
            <a href="/Queues/QueuesStorage">Queues Storage</a>
        </li>
        <li>
            <a href="/ServiceBus/ServiceBus">Service Bus</a>
        </li>
        <li>
            <a href="/CosmosDB/CosmosDB">Cosmos DB</a>
        </li>
        <li>
            <a href="/KeyVault/KeyVault">Key Vault</a>
        </li>
    </ul>
</div>
